<p>
  <mat-toolbar>
    <span>Time in Thailand: {{now}}</span>
  </mat-toolbar>
</p>
<div class="content">
  <h1>Submit Tax Filing</h1>
</div>

<div class="content" role="main">

  <mat-stepper linear #stepper>

    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Input Detail</ng-template>
        <app-first-page [taxform]="firstFormGroup"></app-first-page>
        <div>
          <!-- <button (click)="TestValue()">Test</button> -->
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup" errorMessage="Address is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Review & Confirm</ng-template>
        <app-review-confirm [form]="firstFormGroup"></app-review-confirm>
        <div>
          <button mat-stroked-button (click)="openDialog()">Confirm & Review</button>
        </div>
      </form>
    </mat-step>

  </mat-stepper>

</div>

<router-outlet></router-outlet>
